*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(240, 213, 140);
}
main{
    margin-top: -200px;
    background:url("imagens/fundo.png") no-repeat center center;
    background-size:cover;
    height: 101vh;
}
.imagem-eu{
    height: 120px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    z-index: 2;
    border-radius: 100%;
    border:double;
    border-color: bisque;
}

.todos-menus{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 10px;
    background-color: rgb(115, 153, 142);
    opacity: 0.8;
   
}

.menus{
    font-family:Roboto;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 800;
    cursor: pointer;
}

.logo-rick{
    height: 120px;
    margin-left: 300px;
    padding: 5px;
    clear: both;
    z-index: 2;
}

.texto01{
    color:bisque
}
a{
    color: black;
    text-decoration: none;
    border: 0;
    transition: 0.3s;
}

a:hover{
     color: white; 
     text-decoration:none; 
     cursor:pointer;
     border: 0;
     text-shadow: 0.1em 0.1em rgb(11, 14, 11)
}
a:focus{
    color: rgb(245, 191, 106); 
     text-decoration:none; 
     cursor:zoom-out;
     border: 0;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: rgb(158, 140, 111); 
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 70px;
    align-items: center;
    opacity: 0.8;
}

.logo-social{
    height: 35px;
}
